<div class="container">
    <div class="grey lighten-3 no-margin-top no-border" style="padding:10px 0 0 0;">
        <div class="row" style="margin:0;">
            <div class="input-field col s12">
                <input ng-model="vm.q" type="text" placeholder="Rechercher dans la liste ...">
            </div>
        </div>
        <div class="row">
            <ul class="collection">
                <li class="collection-item avatar" ng-repeat="merchant in vm.user.following | filter:vm.q" ng-swipe-left="vm.swipeLeft(merchant);" ng-swipe-right="vm.swipeRight(merchant);">
                    <img ng-src="{{merchant.imageLink}}" alt="" style="position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;" ng-click="vm.browseMerchant(merchant);">
                    <span class="title" ng-click="vm.browseMerchant(merchant);">{{merchant.pseudo}}</span>
                    <p ng-click="vm.browseMerchant(merchant);">{{merchant.adress}} <br>
                        {{merchant.city}}
                    </p>
                    <a ng-href="tel:{{merchant.phone}}" class="secondary-content"><i class="material-icons teal-text text-lighten-3">phone</i></a>
                    <a ng-click="vm.unfollowMerchant($index,merchant);"
                       class="red"
                       style="position: absolute;right:0;top:0;width:70px;line-height:70px;height:100%;z-index:99;display: flex;flex-direction: column;justify-content: center;"
                       ng-show="merchant.isSwiped"
                       message="{{'Vous ne suivez plus ' + merchant.pseudo}}"
                       duration="3000" toast='click'>
                        <i class="material-icons white-text" style="text-align:center;">delete</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
