<div class="scroller-container container grey lighten-3" style="height:100%;overflow: auto;" pull-to-refresh hide-on-scroll-down refresh-function="$ctrl.refresh()">
    <div class="city-text center" ng-show="$ctrl.cityText">
        <h3 class="white-text" style="background: rgba(0,0,0,0.5); margin: 0; padding: 1.46rem 0 1.168rem 0;display: flex; flex-direction: column; justify-content: space-around;">
            <span style="font-size: 1.3rem;">nos bons plans à </span>
            <span ng-click="$ctrl.editCity = true;" style="font-family:'Damion',cursive; font-size:4rem;">{{$ctrl.cityText}}</span></h3>
    </div>
    <div ng-show="$ctrl.label.length > 0" class=" label-filter-container" style="padding:0 10px;">
        <span class="right black-text" ng-click="$event.stopPropagation();$ctrl.resetLabels();">Voir tous</span>
        Filtré par: <span ng-repeat="label in $ctrl.label" class="new badge" ng-class="label.color" ng-click="$event.stopPropagation();$ctrl.removeLabel(label);" style="position:initial;margin-right:10px;" data-badge-caption="{{label.displayName}}"></span>
    </div>
    <div ng-show="$ctrl.editCity;" style="display:flex;margin:10px;">
        <input type="text" ng-model="$ctrl.newCity"/>
        <a class="btn teal" ng-click="$ctrl.changeCity($ctrl.newCity)">Changer</a>
        <a class="btn teal" ng-click="$ctrl.localizeMe()"><i class="material-icons">my_location</i></a>
    </div>
    <ul class="no-margin-top no-border">
        <!-- Demo: orderDate to remove -->

        <li ng-repeat="deal in $ctrl.deals | orderBy : 'route.distance.value' " ng-click="$ctrl.browseMerchant(deal.merchant);" class="">
            <deal-card deal="deal"></deal-card>
        </li>

        <li ng-if="$ctrl.errorMessage !== '' " class="collection-item center" style="padding:20px;">
            <span style="margin:50px 0;display:block;">{{$ctrl.errorMessage}}<br/></span>
            <a class="center btn" ng-hide="$ctrl.editCity" ng-click="$ctrl.editCity = true;"><i class="material-icons left">edit</i>Changer de ville</a>
        </li>
    </ul>

    <div ng-class="$ctrl.isLoading ? 'active' : '' " class="white circle z-depth-2 mj-loader-wrapper">
        <div class="preloader-wrapper small active">
            <div class="spinner-layer ">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
